.container{
    display: flex;
}

.left,.right{
    width: 50%;
    margin-top: 100px;
}
.left{
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 65%;
    
}
.right{
    border-left: 1px solid lightblue;
    padding: 12px;
}
.link{
    text-decoration: none;
}